<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	<import resource="classpath*:spring-mybatis.xml" />
	<import resource="classpath*:spring-scheduled.xml" />
		<import resource="classpath*:spring-ehcache.xml" />
	<!-- 自动扫描(自动注入) -->
	<!-- spring可以自动扫描base-pack下面或者子包下面的java文件， 如果扫描到有@Component @Controller 
		@Service @Repository等这些注解的类， 则把这些类注册为bean -->
	<context:component-scan base-package="com.mvc.rest.dao" />
	<context:component-scan base-package="com.mvc.rest.service" />
	<!-- 高级用法： //1 <context:component-scan base-package="com.ibeifeng.service"> 
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/> 
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"> 
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"> 
		</context:component-scan> //2 <context:component-scan base-package="com.ibeifeng.service" 
		use-default-filters="false"> <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/> 
		</context:component-scan> type 还可以是 ： regex -->






</beans>